.table {
  border: 1px solid #aaa;
  border-collapse: collapse;
  min-width: 40%;
}
.table tbody {
  border-top: 4px solid #aaa;
}
.table td,
.table th {
  border: 1px solid #aaa;
  padding: 0.25em;
}

.table td {
    text-align: right;
}

.table td.text-cell {
    text-align: inherit;
}

.table td.text-cell .note {
	font-style: italic;
}

.table .total {
	font-weight: bold;
}

.table .successful .title {
    font-weight: bold;
}

.table .successful .title:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    margin-left: 0.5em;
    margin-bottom: -0.2em;
    background-image: url(check-white.svg);
    background-size: 1em;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #00af89;
    border-radius: 50%;
}

.table .bars-header:before {
    content: ' ';
    display: block;
    width: 10em;
}

.table .bars-row {
    position: relative;
    overflow: hidden;
}

.table .percentage-bar {
    height: 1em;
    background-color: orange;
}

.table .successful .percentage-bar {
    background-color: green;
}

.table .cutoff-line {
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

.sticky-table thead th {
    position: sticky;
    top: -1px;
    background: white;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-bottom: 0.5em;
}

.sticky-table thead th:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.25em solid #aaa;
}

.sticky-table tbody {
    border-top-width: 0;
}
