.table {
  border: 1px solid #aaa;
  border-collapse: collapse;
  min-width: 40%;
}
.table tbody {
  border-top: 4px solid #aaa;
}
.table td,
.table th {
  border: 1px solid #aaa;
  padding: 0.25em;
}

.table td {
    text-align: right;
}

.table td.text-cell {
    text-align: inherit;
}

.table .successful .title {
    font-weight: bold;
    background-color: lightgreen;
}

.table .bars-header:before {
    content: ' ';
    display: block;
    width: 10em;
}

.table .bars-row {
    position: relative;
}

.table .percentage-bar {
    height: 1em;
    background-color: orange;
}

.table .successful .percentage-bar {
    background-color: green;
}

.table .cutoff-line {
    position: absolute;
    top: 0;
    height: 100%;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}

.sticky-table thead th {
    position: sticky;
    top: -1px;
    background: white;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-bottom: 0.5em;
}

.sticky-table thead th:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.25em solid #aaa;
}

.sticky-table tbody {
    border-top-width: 0;
}
